{% extends "@DisjfaTimetable/base.html.twig" %}

{% block _disjfa_timetable_content %}

    {% include '@DisjfaTimetable/Timetable/_style.html.twig' %}

    <div class="container py-4">
        {% include '@DisjfaTimetable/Timetable/_menu.html.twig' %}

        {{ form_start(form) }}

        <div class="row">
            <div class="col-12 col-md-8">
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                <button type="submit" class="btn btn-primary">save</button>
            </div>
            <div class="col-12 col-md-4">
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-primary">save</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

